<html>
{% load static %}
<head>
	<title>Регистрация</title>
	<meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="0">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'OhhRazom/image/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'OhhRazom/style/FirstEnter/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'OhhRazom/style/FirstEnter/main.css' %}">
<!--===============================================================================================-->
</head>
  <body>
    <div class="limiter">
          <div class="container-login100">
              <div class="wrap-login100 p-t-50 p-b-90">
                  <form action = "" method = "POST" class="login100-form validate-form flex-sb flex-w">
                      {% csrf_token %}
                      <span class="login100-form-title p-b-51">
                          {% if lenguage == 'RU' %}
                            {{ LengObj.Registration.RU }}
                        {% elif lenguage == 'EN' %}
                            {{ LengObj.Registration.EN }}
                        {% elif lenguage == 'UA' %}
                            {{ LengObj.Registration.UA }}
                        {% endif %}
                      </span>
                      {% if lenguage == 'RU' %}
                            <div class="wrap-input100 validate-input m-b-16">
                                  <input class="input100" type="text" name="login" placeholder="{{ LengObj.PlaceHolderLogin.RU }}" readonly value="{{Form.Login}}">
                                  <span class="focus-input100"></span>
                              </div>
                              <div class="wrap-input100 validate-input m-b-16">
                                  <input class="input100" type="pass" name="password" placeholder="{{ LengObj.PlaceHolderPassword.RU }}" readonly value="{{Form.Password}}">
                                  <span class="focus-input100"></span>
                              </div>
                        {% elif lenguage == 'EN' %}
                            <div class="wrap-input100 validate-input m-b-16">
                                  <input class="input100" type="text" name="login" placeholder="{{ LengObj.PlaceHolderLogin.EN }}" readonly value="{{Form.Login}}">
                                  <span class="focus-input100"></span>
                              </div>
                              <div class="wrap-input100 validate-input m-b-16">
                                  <input class="input100" type="pass" name="password" placeholder="{{ LengObj.PlaceHolderPassword.EN }}" readonly value="{{Form.Password}}">
                                  <span class="focus-input100"></span>
                              </div>
                        {% elif lenguage == 'UA' %}
                            <div class="wrap-input100 validate-input m-b-16">
                                  <input class="input100" type="text" name="login" placeholder="{{ LengObj.PlaceHolderLogin.UA }}" readonly value="{{Form.Login}}">
                                  <span class="focus-input100"></span>
                              </div>
                              <div class="wrap-input100 validate-input m-b-16">
                                  <input class="input100" type="pass" name="password" placeholder="{{ LengObj.PlaceHolderPassword.UA }}" readonly value="{{Form.Password}}">
                                  <span class="focus-input100"></span>
                              </div>
                        {% endif %}

                      <div class="new-select-style-wpandyou">
                          {% if lenguage == 'RU' %}
                            {{ LengObj.SelectBrend.RU }}
                        {% elif lenguage == 'EN' %}
                            {{ LengObj.SelectBrend.EN }}
                        {% elif lenguage == 'UA' %}
                            {{ LengObj.SelectBrend.UA }}
                        {% endif %}
                                  <select name="brend">
                                      {% if lenguage == 'RU' %}
                                            <option disabled>{{ LengObj.SelectChoose.RU }}</option>
                                        {% elif lenguage == 'EN' %}
                                            <option disabled>{{ LengObj.SelectChoose.EN }}</option>
                                        {% elif lenguage == 'UA' %}
                                            <option disabled>{{ LengObj.SelectChoose.UA }}</option>
                                        {% endif %}

                                      {% for i in client%}
                                        <option value="{{i.id}}">{{i.client}}</option>
                                      {% endfor %}
                                  </select>
                      </div>
                      <div class="container-login100-form-btn m-t-17">
                          <button  name="do_sign" class="login100-form-btn">
                              {% if lenguage == 'RU' %}
                                    {{ LengObj.ButtonRegistration.RU }}
                                {% elif lenguage == 'EN' %}
                                    {{ LengObj.ButtonRegistration.EN }}
                                {% elif lenguage == 'UA' %}
                                    {{ LengObj.ButtonRegistration.UA }}
                                {% endif %}
                          </button>
                      </div>
                  </form>

                  <form action="back" method="POST">
                      {% csrf_token %}
                      <button  name="stop" class="login100-form-btn">
                          {% if lenguage == 'RU' %}
                            {{ LengObj.ButtonExit.RU }}
                        {% elif lenguage == 'EN' %}
                            {{ LengObj.ButtonExit.EN }}
                        {% elif lenguage == 'UA' %}
                            {{ LengObj.ButtonExit.UA }}
                        {% endif %}
                  </button>
                  </form>

              </div>
          </div>
      </div>
  </body>
</html>